/* COLORES */
$color-bg: #1b1b1b;
$color-card-1: #292929;
$color-card-2: #1c1c1c;
$color-text: #ffffff;
$color-tag-1: #af0c12;
$color-tag-2: #f40009;
$color-shawdo: rgba(0, 0, 0, 0.15);

/* FUENTES */
$font-primary: "SF Pro Text";
